
<h1>&emsp;ようこそ Bookers へ!</h1>
    <p>
    &emsp;&emsp;&emsp;&emsp;Bookersでは、さまざまな書籍に関するあなたの意見や
    </p>
    <p>
    &emsp;&emsp;&emsp;&emsp;印象を共有し交換することができます
    </p>
        
    &emsp;&emsp;&emsp;&emsp;<%= link_to "start", 'books#index' %></a>